@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
    .wrapper {
        width: 1125px;
        margin: 0 auto;
    }
    .nav-bar-orange {
        background-color: #FF5816;
        color: white;
        display: flex;
        justify-content: flex-end;
        margin: 0 auto;
        width: 1085px;
        border-radius: 8px;
    }
    .nav-bar-orange .desktop-only {
    display: block;
}
    .header .desktop-only{
        display: block;
        margin-top: 15px;
    }
    .nav-bar-orange li {
        display: inline-block;
        font-size: 12px;
        padding: 10px;
    }
     .desktop-only  label {
        border-radius: 4px;
        background-color: #FF5816;
         padding: 5px 10px;
         color: white;
    }
     input {
         background-color: #eeeeee;
         border-radius: 4px;
         padding: 7px;
         border: none;
     }
    .circe-number-flex {
        display: flex;
        justify-content: space-between;
    }
    .statistics p {
        width: 92%;
    }
    .hidden-in-desctop {
        display: none;
    }

}
