
#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    width: 26px;
    height: 26px;
    float: left;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 35px;
    border-radius: 5px;
    height: 3px;
    background-color: orangered;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    visibility: hidden;
    background-color: #ECEFF1;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    position: absolute;
    padding-left: 0;
    z-index: 100;
    left: 0;
    right: 0;
}

.menu__item {
    display: block;
    padding: 8px 0;
    color: #333;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}

body {
    font-family: Roboto Light, Roboto Thin, sans-serif;
    margin: 0 auto;
}
.header {

}
.navbar {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    height: 30px;
    background-color: #040D0D;
}

.navbar .menu__box:hover {
    display: block;
}

.menu__box a {
    text-decoration: none;
    color: white;
}
.menu__box li {
   list-style-type: none;
font-size: smaller;
    background-color: #040D0D;
    padding: 0 46px;
}
.header {
    margin: 15px;
}
.icons img {
    padding-left: 20px;
}
.menu {
   margin: -8px 47px;
    color: white;
}
h1 {
    margin: 10px auto;
    font-weight: 400;
    font-size: 40px;
}
.for-laptop-only {
    display: none;
}
a {
    color: blue;
}

.navbar img {
    height: 16px;

    padding-right: 18px;
}

.navbar span {
    color: white;
    font-weight: lighter;
}
.desktop-only {
    display: none;
}
.logo span {
    color: #FF5816;
    background-color: #DBDEE6;
    border: 1px solid #DBDEE6;
    padding: 0 2px;
    border-radius: 17px;
}
.icons {
    height: 30px;
    position: relative;
}
.icons span {
    color: #FF5816;
    background-color: #DBDEE6;
    border: 1px solid #DBDEE6;
    padding: 0 2px;
    border-radius: 17px;
    font-size: x-small;
    position: absolute;
    top: -10px;
    right: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header p {
    font-size: 13px;
    margin-top: 10px;
}
p.tel {
    font-size: larger;
    margin: 10px 0;
}
p.viber {
    font-size: medium;
}

.fa-circle {
    position: relative;
    margin-top: 14px;
    color: lightgrey;
}

.left-arr {
    width: 35px;
    height: 35px;
    border-radius: 60px;
    border: 2px solid lightgrey;
    color: orange;
}
.right-arr { width: 35px;
    height: 35px;
    border-radius: 60px;
    border: 2px solid lightgrey;
    left: 4px;
    color: orange;
}
.fa-angle-left:before {
    margin: 10px;
}
.fa-angle-right:before {
    margin: 10px;
   }

.hidden {
    display: none;
}

.section-title {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.section-title img {
    height: fit-content;
    margin-top: 13px;
}

.section-title hr {

    margin-top: 22px;
    width: 70px;
    background-color: #e0e0e0;
    outline-style: none;
}

.card {
    width: 296px;
    height: 389px;
    border: 1px solid #DBDEE6;
    border-radius: 7px;
    margin: 0 auto;
    position: relative;
}

.shape_green, .shape_blue, .shape_orange {
    left: 7%;
    position: absolute;
    top: -2%;
}
.shape-span {
    color: white;
    position: absolute;
    font-size: small;
    font-weight: bold;
    left: 22px;
}
.shape-span1 {
    position: absolute;
    left: 27px;
}
.product_photo {
    position: absolute;
    top: 12%;
    left: 24%;
}

.card-description {
    width: 80%;
    margin: 0 auto;
}

.buy {
    background-color: #f26522;
    border-radius: 7px;
    color: white;
    outline-style: none;
    position: absolute;
    top: 84%;
    padding: 10px 13px;
    font-size: 16px;
}

.prod_name {
    margin-top: 235px;
    text-align: left;
}

.details {
    margin-top: 30px;
    margin-left: 120px;
}

.card a {
    text-align: center;
}

.stock {
    background-color: #C2E86B;
    height: 125px;
    text-align: center;
    font-size: 57px;
    font-weight: bold;
}

.stock-card-description {
    padding: 13px;
    text-align: justify;
    font-size: smaller;
}

.stock-slogan {
    color: #F59218;
    margin: 0;
}

.stock-slogan span {
    color: #337600;
}

.stock-numbers {
    color: white;
    margin: 0;


}

.stock-numbers span {
    color: #E8322E;

}

.timer {
    background-color: #DBDEE6;
    height: 65px;
}

.timer img {
    margin-left: 75px;
    margin-top: 17px;
}
.order-making {
    padding: 10px;
}
.button {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #f26522;
    background-color: #e0e0e0;
    padding: 10px 15px;
    border-radius: 7px;
    text-decoration: underline;
}
.button:hover {
    color: black;
    background-color: white;
    text-decoration: none;

}
.working-rules {
    padding: 0 15px;
}
.how {
    font-weight: bold;
    font-size: 25px;
}
.order-block {
    width: 40%;
    padding: 10px;
    display: inline-block;
    text-align: center;
}
.footer-logo, .footer-tel {
    float: left;
    width: 50%;
}

.clearfix {
    clear: both;
}
.footer-social {
    color: #C3CFD8;
    background-color: #5C7489;

}
.delivery {
    border: 1px solid #C3CFD8;
    padding: 15px;
}
.delivery span {float: right}
.footer-bottom {
    background-color: #2C3F53;
    height: 75px;
}
.statistics {
    padding-top: 25px;
text-align: center;
}
.information {
    background-color: #5C7489;
    padding: 0 10px;
    color: #C3CFD8;
}
.copyright {

    display: inline-block;
    width: 50%;
}
.BFT {
    float: right;
    width: 50%;
}
