@media (min-width: 768px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .aside {
        width: 31%;
        margin: 10px;
        float: left;
    }

    h1 {
        font-size: 61px;
    }

    .icons {
        width: 196px;
        margin-top: 20px;
        height: 58px;
        z-index: -1;
        border-radius: 20px;
        background-color: #DBDEE6;
        padding: 6px;
    }

    .search {
        margin-top: 10px;
        margin-left: -83px;
        margin-right: 30px;
    }

    .enter {
        float: left;
        padding-right: 45px;
    }

    .cart {
        float: right;
        margin-right: 70px;
    }

    .fa-heart:before {
        color: red;
        font-size: 19px;
    }

    .fa-sync:before {
        color: limegreen;
        font-size: 19px;
    }

    .favorits div {
        display: inline-block;

    }

    h3 {
        font-size: 21px;
    }

    .slogan {
        color: #999C9E;
    }

    .banner-section {
        width: 61%;
        margin: 15px;
        float: right;

    }
    .hidden.for-laptop-only {
        display: none;
    }
    .favorits a p {
        display: inline-block;
    }

    .banner {
        background-color: #596F85;
        color: #DBDEE6;
        border-radius: 6px;
        height: 349px;
        padding: 20px;
    }

    .banner-section {
        position: relative;
    }

    .img {
        position: absolute;
        right: 0;
        top: 134px;
        /*z-index: -1;*/
    }

    .p1 {
        color: #f26522;
        font-size: 20px;
    }

    .p2 {
        font-size: 14px;
    }

    .p3 {
        font-size: 12px;
        font-style: italic;
    }

    .banner-section-title {
        background-color: #e0e0e0;
        padding: 20px 15px;
        border-radius: 6px;
        font-size: 10px;
    }

    .banner-list li {
        font-size: 10px;
        padding: 10px;
        margin-left: -25px;
        list-style-type: circle;
    }

    .banner-button {
        color: #4673AB;
        font-weight: bold;
        margin-top: 30px;
        padding: 10px 30px;
        background-color: white;
        border-radius: 8px;
    }

    .section-title hr {
        width: 500px;
    }

    .card-slider {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hidden {
        display: block;
    }

    .card {
        width: 30%;
        height: 389px;
        border: 1px solid #DBDEE6;
        border-radius: 7px;
        margin: 0 auto;
        position: relative;
    }

    .stock {
        font-size: 46px;
    }

    .one-two {
        background-color: #E9004B;
        text-align: center;
        font-weight: bold;
    }

    .one-two-numbers {
        font-size: 94px;

    }

    .one-two-numbers span {
        color: white;
        font-size: 48px;
        position: absolute;
        right: -8px;
    }

    .card-bottom {
        color: #337500;
        text-align: center;
        padding-top: 25px;
    }

    .timer img {
        margin-left: 21%;
    }

    .stock-card-description p {
        margin-top: 0;
    }

    .yellow {
        background-color: yellow;
    }

    .yellow-discount {
        color: black;
        font-family: "Ink Free";
        font-size: 75px;
    }

    .order-making {
        display: flex;
    }

    .order-block {
        width: 25%;
    }

    /*.text {*/
    /*    width: 45%;*/
    /*}*/
    .text-block {
        display: flex;
    }

    .text {
        padding: 0 20px;
    }

    .news-header-flex {
        display: flex;
    }

    .news-header {
        padding: 15px;
        font-weight: bold;
        font-size: 28px;
        display: inline-block;
    }

    .section-title {
        padding-right: 15px;
        font-size: 28px;
        font-weight: bolder;
    }

    .news-header-flex hr {
        width: 40%;
        display: inline-block;
        margin-top: 52px;
        height: min-content;
    }

    .hidden {
        display: block;
    }

    .buying-now {
        display: flex;
    }

    .no-border {
        border: none;
    }

    .no-border p {
        padding: 30px 15px;
        font-size: 15px;
        text-align: left;
    }

    .bottom {
        padding-bottom: 33px;
    }

    .bottom1 {
        padding-bottom: 20px;

    }

    .no-border img {
        padding-top: 40px;

    }

    .our-brands {
        text-align: center;
    }

    .grey {
        height: 345px;
        background-color: #E3E5EB;
        border-radius: 8px;
        margin: 20px 20px;
    }

    .strong-sides {
        display: flex;
        justify-content: space-around;
        position: relative;
        bottom: 281px;

    }

    .circle-image {
        position: relative;
        z-index: 101;
        top: 33px;
        left: 38px;
    }

    .circle-image-last {
        position: relative;
        z-index: 101;
        top: 40px;
        left: 30px;
    }


    .circle {
        width: 125px;
        height: 125px;
        border-radius: 65px;
        background-color: white;
    }

    .circle p {
        text-align: center;
        font-size: 13px;
        margin-top: 88px;
        font-weight: bolder;
    }

    .bordered {
        border: 1px solid lightgrey;
    }

    .card-big {
        width: 40%;
        height: fit-content;
        display: inline-block;
        margin: 0 auto;
    }

    .red {
        border-radius: 8px;
        border: 3px solid #CB0B13;
    }

    .green {
        border-radius: 8px;
        border: 3px solid #16A333;
    }

    .choose {
        display: flex;
        justify-content: space-between;
    }

    .red-header {
        color: white;
        background-color: #CB0B13;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
    }

    .green-header {
        color: white;
        background-color: #16A333;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
    }

    .green-header p {
        padding: 27px;
        margin: 0;
    }

    .red-header p {
        padding: 17px 0;
        margin: 0;
    }

    .card-big ul {
        padding: 25px;
        font-size: 17px;
    }

    .circe-number-flex {
        display: flex;
        justify-content: space-around;
    }

    .number-orange {
        color: orange;
    }

    .big {
        font-size: 90px;
        font-weight: 700;
        padding: 8px 10px;
    }

    .medium {
        font-weight: 700;
        font-size: 59px;
        padding: 24px 5px;
    }

    .small {
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        position: relative;
        padding-top: 18px;
    }

    .small span {
        top: 53px;
        font-size: 24px;
        position: absolute;
        right: 55px;
    }

    .working-rules {
        margin-top: 100px;
    }

    .circle, .bordered p {
        margin-top: 30px;
    }

    .delivery {
        border: none;
        padding: 6px;
        text-decoration: underline;
    }

    .tablet-block {
        height: 1066px;
    }

    .slogan-small {
        font-size: 8px;
    }

    .footer-logo .logo {
        font-size: xx-large;
    }

    .statistics p {
        color: #DBDEE6;
        padding-top: 0;
        font-size: 13px;
        text-align: left;
        width: 85%;
        display: inline-block;
        margin-top: 0;
    }

    .footer-tel .clearfix {
        clear: none;
    }

    .address > p {
        margin: 4px;
    }

    ul li span {
        font-weight: bold;
    }

    .hidden-in-tablet {
        display: none;
    }

    .information {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }

    /*.information div:nth-child(1) {*/
    /*    order: 1;*/
    /*}*/
    .information div:nth-child(4) {
        order: 4;
    }

    .information div:nth-child(2) {
        order: 4;
    }

    /*.information div:nth-child(5) {*/
    /*    order:3;*/
    /*}*/
    .information div:nth-child(6) {
        order: 3;
    }

    .footer-logo, .copyright, .BFT, .footer-tel {
        width: 25%;
    }

    .address {
        padding-top: 15px;
    }

    .footer-social {
        padding: 13px 62px;
    }
}
